div.panel
  div.panel-heading
    div.panel-heading-header
      h3 My Mods  
    div.panel-heading-content.row.row-default
      ul#mod-list
        each mod in mods
          li
            h3.mod-title #[a(href=`//${nconf.domain}/mods/${mod.id}`)=`${mod.name}`]
  div.panel-body
    div.panel-body-images
      img.fill(src = `//${nconf.domain}/images/mod-background.png`)
