div.panel.panel-default
  div.panel-heading
    h3 Programming
  div.panel-body
    each list in programming.lists
      h3.mod-title=`${list.name}`
      ul.list-inline
        each value in list.values
          li=`${value}`
