div.panel
  div.panel-heading
    div.panel-heading-header
      h3 Programming
    div.panel-heading-content
      each list in programming.lists
        h3.mod-title=`${list.name}`
        ul.list-inline
          each value in list.values
            li=`${value}`
  div.panel-body
    div.panel-body-images
      img(src = `//${nconf.domain}/images/programming-code-background.jpg`)
