body {
  padding-top: 50px;
  word-wrap: break-word;
  background: #f59412;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4ad50 0%, #F58C12 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f4ad50 0%, #F58C12 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f4ad50 0%, #F58C12 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
}

#headerTitle {
  font-family: "Orbitron", bold, monospace;
  color: #f59412;
  font-size: 2.5rem;
}

#nav-pages li a {
  height: 54px;
}

.red {
  color: red;
}

.header-logo {
  height: 25px;
  border-radius: 12.5px;
}

.no-margin {
  margin: 0;
}

.bg-red {
  background-color: red;
}

#footer {
  width: 100vw;
  background-color: #606060;
  color: white;
  height: 50px;
  position: absolute;
  bottom: -100;
  right: 0;
  z-index: -1;
  padding: 15px;
}
