body {
  padding-top: 50px;
  word-wrap: break-word;
  background: #fcfcfc;
}

#headerTitle {
  font-family: "Orbitron", bold, monospace;
  color: blue;
  font-size: 2.5rem;
}

#nav-pages li a {
  height: 54px;
}

.red {
  color: red;
}

.header-logo {
  height: 25px;
  border-radius: 12.5px;
}
