extends layout.pug

append main
  div.container
    h1 Home
    div.panel.panel-default
      div.panel-heading
        h3 Bio
      div.panel-body
        p.
          Hello, my name is Eli Orona. I currently attend the University of Washington as a Freshman. I don't have a declared major yet, but I plan on applying to the Computer Science and Computer Engineering schools. In my free time I like to play video games like
          Minecraft and Overwatch, #[a(href=`//${nconf.domain}/music`) write music], and
          #[a(href=`//${nconf.domain}/programming`) code] some cool things like #[a(href=`//${nconf.domain}/mods`) Minecraft Mods].

    div.row.row-default
      div.col-md-3
        div.panel.panel-default
          div.panel-heading
            h3 Blog
          div.panel-body
            p Blog comming soon!

      div.col-md-9
        div.panel.panel-default
          div.panel-heading
            h3 Programming
          div.panel-body
            p.
              I spend a lot of my free time programming. I started back in 4th grade, 2014, with javascript on Khan Academy, and then began to learn HTML and CSS (Khan Academy and personal), Python (I hate this language), C++(Arduino), SQL (Khan Academy), C# (Unity), and Java (Self-taught). Khan Academy included the P5.js library, which easily trasitioned me into Java as it has a very object oriented view on JavaScript. I now mostly program in Java, creating all sorts of projects. I am currently trying to find a way to upload my code to this site. Because of my start on Khan Academy, I prefer to use a graphics library for my Java code, and until I found LWJGL I used the Processing library for Java. I have a stong interest in Machine Learning and Neural Networks, programming three complete feed-foward networks (only one had learning), and I am currently working on a fourth that will include learning, easy layer adding, and multiple types of layers like LSTM and GRU. I have also have worked on robotics programming, being programming lead on #[a(href="https://www.robototes.com") The Robototes], which has taught me how to create a expansive library, maintain large project, and how to use build tools. For a computer science class in high school, I taught myself some OpenGl and tried to make a game engine, however, my lack of understanding caused a rendering issue and i have mostly abandoned this project. Most recently, I have started creating #[a(href=`//${nconf.domain}/mods`) Minecraft mods], which has helped me learn how games are programmed.
        div.panel.panel-default
          div.panel-heading
            h3 Music
          div.panel-body
            p music
        div.panel.panel-default
          div.panel-heading
            h3 Minecraft Mods
          div.panel-body
            p Minecraft mods
