extends layout.pug

append main
  div.container
    h1 Home
    div.panel.panel-default
      div.panel-heading
        h3 Bio
      div.panel-body
        p.
          Hello, my name is Eli Orona and this is my
          website. I currently attend the University of Washington as a Freshman. I don't have a declared major yet, but I plan on applying to the Computer Science and Computer Engineering schools. In my free time I like to play video games like
          Minecraft and Overwatch, <a href="/music">write music</a>, and
          <a href="/programming">code</a> some cool things.
          
    div.row.row-default
      div.col-md-3
        div.panel.panel-default
          div.panel-heading
            h3 Blog
          div.panel-body
            p blog
          
      div.col-md-9
        div.panel.panel-default
          div.panel-heading
            h3 Programming
          div.panel-body
            p programming
        div.panel.panel-default
          div.panel-heading
            h3 Music
          div.panel-body
            p music
        div.panel.panel-default
          div.panel-heading
            h3 Minecraft Mods
          div.panel-body
            p Minecraft mods
