extends layout.pug

append main
  div.container
    h1 Home
    div.panel.panel-default
      div.panel-heading
        h3 Bio
      div.panel-body
        p.
          Hello, my name is Eli Orona. I currently attend the University of Washington as a Freshman. I don't have a declared major yet, but I plan on applying to the Computer Science and Computer Engineering schools. In my free time I like to play video games like
          Minecraft and Overwatch, #[a(href=`//${nconf.domain}/music`) write music], and
          #[a(href=`//${nconf.domain}/programming`) code] some cool things like #[a(href=`//${nconf.domain}/mods`) Minecraft Mods].

    div.row.row-default
      div.col-md-3
        div.panel.panel-default
          div.panel-heading
            h3 Blog
          div.panel-body
            p Blog comming soon!

      div.col-md-9
        include .././partials/page-headers/programming-header
        include .././partials/page-headers/mods-header
        div.panel.panel-default
          div.panel-heading
            h3 Music
          div.panel-body
            p music
