extends layout.pug

append main
    div.panel
      div.panel-heading
        div.panel-heading-header
          h3.orbitron BIO
        div.panel-heading-content
          p.
            Hello, my name is Eli Orona. I currently attend the University of Washington as a Freshman. I don't have a declared major yet, but I plan on applying to the Computer Science and Computer Engineering schools. In my free time I like to #[a(href=`//${nconf.domain}/music`) write music], #[a(href=`//${nconf.domain}/programming`) code] some cool things like #[a(href=`//${nconf.domain}/mods`) Minecraft Mods], and play video games like Minecraft and Overwatch.
      div.panel-body
        div.panel-body-images
          img.fill(src = `//${nconf.domain}/images/orohead.jpg`)
    include .././partials/page-headers/programming-header
    include .././partials/page-headers/mods-header
    div.panel
      div.panel-heading
        h3 Music
      div.panel-body
        p music
    div.panel
      div.panel-heading
        h3 Blog
      div.panel-body
        p Blog comming soon!
